apiVersion: v1
kind: Service
metadata:
  name: microservices-service
  namespace: pwc-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
  selector:
    app: microservices